
body {
    font-family: 'poppins' 'Times New Roman', Times, serif;
    margin: 0px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: fixed;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.navbar a.active {
    background-color: #4CAF50;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.h3 {
    color: green;
}

p {
    color: rgb(37, 37, 37);
    font-size: larger;
}

.name-higlight {
    color: rgb(255, 255, 255);
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    align-items: center;
}

img {
    width: 100%;
}

.top-banner {
    background-image: url(resources/developer-portfolio/top.png);
    background-repeat: no-repeat;
    padding-top: 50px;
}

section {
    height: 500px;
}

.btn2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(0, 105, 34, 1) 0%, rgb(4, 121, 39) 100%);
    border-radius: 5px;
    padding: 5px 10px;
}

.dream-area {
    background-image: url(resources/developer-portfolio/drem.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    margin-top: 50px;
}

.exp1 {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 65%;
}

.exp {
    display: inline-flex;
    justify-content: space-around;
    background-image: url(resources/developer-portfolio/bg.png);
    background-size: 500px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

#expid {
    border-left: 7px solid;
    border-color: #21aa38;
}

footer p {
    text-align: center;
    font-size: 12px;
}