* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

body {
    margin: 10px;
}

.header,
ul,
li {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
    padding: 5px;
}

.logo {
    font-size: 30px;
}

.a1 {
    background-color: #cee7d6;
    border: 1px solid;
    border-radius: 5px;
    color: black;
    padding: 7px 14px;
    font-size: 20px;
}

.a1:hover {
    background-color: #ffffff;
    border: .5px solid;
    transition-duration: .5s;
}

.btn {
    margin-left: 30px;
    padding: 10px 15px;
    font-size: 25px;
    background-color: #008321;
    color: #ffffff;
    border-radius: 5px;
}

span {
    color: #00721c;
}

.h2 {
    font-size: 50px;
    line-height: 100px;
    margin-bottom: 50px;
}

h3 {
    padding-bottom: 20px;
}

p {
    font-size: 20px;
}

.div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div2 {
    width: 40%;
    text-align: left;
}

img {
    width: 100%;
}